body {
    margin: 0;
    font-family: Arial, sans-serif; 
}
header, footer{   
    background-color: rgb(223, 223, 223);
    padding: 1em;
    text-align: center;
    color: rgb(62, 62, 87);  
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    top:80%
}

@media (min-width: 768px) {

    article{
        padding: 1.5em;        
        margin: 2em auto;      
        max-width: 100%;
        text-align: justify;   
        border: none;          
        background: transparent;
        font-size: 20px;
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2em;
        gap: 2em;
    }
    p{
        text-align: center;
    }

}
